:root {
    --red-50: #fef2f2;
    --red-200: #fecaca;
    --rose-100: #ffe4e6;
    --rose-700: #be123c;
    --stone-200: #e7e5e4;
    --dark-charcoal: #333;

    --logo-font: 'MedievalSharp', cursive;
    --page-font: 'Gabarito', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}