#main-home {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 80px 20px 40px 20px;
    background-color: var(--red-50);
}

#main-home-img {
    max-width: 600px;
    min-width: 100px;  
}

#slogan-home {
    font-family: var(--medieval-font);
    font-size: 42px;
    color: var(--dark-charcoal);
    margin-left: 10px;
    margin-bottom: 12px;
}

span {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {

    #main-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    #main-home-img {
        margin-bottom: 10px;
        max-width: 100%;
    }

    #slogan-home {
        font-size: 25px;
        margin-top: 5px;
    }
  }