#main-menu {
    display: grid;
    justify-items: center;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas: 'img-one-menu .' 
                        'txt-one-menu .';
}

#img-one-menu {
    grid-area: img-one-menu;
}

#txt-one-menu {
    grid-area: txt-one-menu;
}


